<div class="page-background">
  <div class="thankyou-contact-detail">
    <h1 class="contact-title">お問い合わせいただき、ありがとうございます。</h1>
    <p class="contact-detail-content">
      これからも皆様がGOLNAVIを引き続きお楽しみいただけるよう、取り組んで参ります。<br>
      今後ともよろしくお願い申し上げます。
    </p>
  </div>
</div>