<div class="page-background">
  <div class="posts-page">
    <h1 class="posts-title">投稿一覧</h1>

    <%= render 'shared/search_form', search_path: posts_path %>

    <div class="new-post-link">
      <%= link_to '新規投稿', new_post_path, class: 'btn btn-primary' %>
    </div>

    <div class="posts-grid">
      <% if @posts.any? %>
        <% @posts.each do |post| %>
          <%= render 'shared/post_item', post: post %>
        <% end %>
      <% else %>
        <div class="no-comment">
          <p class="no-posts">投稿がありません。</p>
        </div>
      <% end %>
    </div>

    <%= render 'shared/pagination', items: @posts %>
  </div>
</div>
