<div class="new-post-page-background">
  
  <div class="new-post-page">
    
    <%= render 'form', post: @post %>

    <div class="actions mt-3">
      <%= link_to 'トップページへ', top_path, class: 'btn btn-primary return-to-top' %>
    </div>
  </div>
</div>