/* 全体リセット */
* {
  margin: 0; /* デフォルトのマージンを削除 */
  padding: 0; /* デフォルトのパディングを削除 */
  box-sizing: border-box; /* ボックスサイズをボーダーを含むように設定 */
}

/* ヘッダー設定 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* ヘッダーを最前面に表示 */
  background-color: #AAA; /* ナビゲーションバーの背景色をシルバーに設定 */
}

/* コンテナ設定 */
.container {
  /* 現時点で特別なスタイルなし */
}

.navbar {
  display: flex;
  justify-content: space-between; /* タイトルとメニューを左右に配置 */
  align-items: center; /* 縦方向に中央揃え */
  padding: 10px 20px; /* ナビゲーションバー内のパディング */
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

/* ナビゲーションバー設定 */
nav {
  display: flex; /* フレックスボックスを使用して子要素を横並びに */
  justify-content: space-between; /* タイトルとリンクを左右に配置 */
  align-items: center; /* 垂直方向の中央揃え */
  padding: 10px 20px; /* ナビゲーションバー内のパディング */
}

/* タイトルスタイル */
.navbar-title a {
  font-size: 24px; /* タイトルの文字サイズを設定 */
  color: black; /* タイトルの文字色を黒に設定 */
  text-decoration: none; /* タイトルの下線を削除 */
  font-weight: bold; /* タイトルを太字に設定 */
}

/* ナビゲーションリンクリスト */
.navbar-menu {
  display: flex; /* 横並びにする */
  align-items: center; /* 縦方向に中央揃え */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ナビゲーションリンク設定 */
.navbar-menu-li {
  margin-left: 15px; /* 各メニューアイテムの間隔 */
}

/* ユーザーアイコンとドロップダウンのスタイル */
.header-user-profile {
  display: flex;
  align-items: center; /* アイコンと矢印を中央揃え */
}

.header-user-icon {
  border-radius: 50%; /* 丸く表示 */
  margin-left: 10px;
  vertical-align: middle; /* アイコンとテキストの位置を揃える */
}


nav ul li a {
  color: #333; /* リンクの文字色を濃い灰色に設定 */
  text-decoration: none; /* リンクの下線を削除 */
  padding: 5px 10px; /* リンクのパディングを設定 */
  border-radius: 5px; /* リンクの角を丸く */
  transition: background-color 0.3s ease; /* ホバー時の背景色のトランジションを設定 */
}

nav ul li a:hover {
  background-color: #ccc; /* ホバー時の背景色を少し暗いシルバーに設定 */
  color: white; /* ホバー時の文字色を白に設定 */
}

nav ul li a.active {
  text-decoration: underline; /* 現在のページのリンクに下線を追加 */
  color: white; /* ホバー時の文字色を白に設定 */
}

/* ボタンスタイル */
.btn {
  display: inline-block; /* インラインブロック要素として扱う */
  padding: 10px 20px; /* ボタン内のパディング */
  margin: 10px 0; /* 上下のマージン */
  font-size: 16px; /* ボタン内の文字サイズ */
  text-align: center; /* テキストを中央揃え */
  text-decoration: none; /* 下線を削除 */
  border-radius: 5px; /* 角を丸く */
  cursor: pointer; /* ポインターをクリック可能に */
}

/* プライマリボタンのスタイル */
.btn-primary {
  border: none;
  background-color: #007bff; /* 背景色をブルーに設定 */
  color: white; /* 文字色を白に設定 */
}

/* セカンダリボタンのスタイル */
.btn-secondary {
  background-color: #6c757d; /* 背景色を灰色に設定 */
  color: white; /* 文字色を白に設定 */
}

/* デンジャーボタンのスタイル */
.btn-danger {
  background-color: #dc3545; /* 背景色を赤色に設定 */
  color: white; /* 文字色を白に設定 */
}

/* ボタンのホバー効果 */
.btn-primary:hover, .btn-secondary:hover, .btn-danger:hover {
  opacity: 0.8; /* ホバー時の透明度を設定 */
}

/* ユーザー情報スタイル */
.user-info {
  margin-bottom: 20px; /* 下部に余白を追加 */
}

/* プロフィール画像のスタイル */
.user-info {
  border-radius: 50%; /* 画像を丸くする */
  border: 3px solid #ccc; /* グレーの縁を追加 */
  padding: 3px; /* 画像と縁の間に余白を追加 */
  background-color: white; /* 縁と画像の間に白い背景を追加 */
  margin-right: 20px; /* 右側に余白を追加 */
}

/* 背景画像を固定 */
.page-background {
  background-image: url('grass.jpg'); /* 背景画像を指定 */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 190px; /* ヘッダーの高さ + 追加余白分 */
  padding-bottom: 200px; /* フッターの高さを考慮して余白を調整 */
}

/* 投稿一覧のスクロール設定 */
.posts-page {
  overflow-y: auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1600px;
  margin: auto;
}

.posts-title {
  text-align: center;
  font-size: 36px;
  color: #34495e; /* 文字色 */
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* post-item の基本スタイル */
.post-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
  border: 2px solid #AAA;
  border-radius: 8px;
  padding: 15px;
  max-width: 100%; /* はみ出し防止 */
  overflow: hidden;
  word-wrap: break-word; /* 長い単語を折り返し */
}

.post-image {
  margin-bottom: 10px; /* 画像と日付が重ならないようにマージンを設定 */
}

.post-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* 投稿ユーザー情報のスタイル */
.post-user-info {
  display: flex;
  align-items: center;
}

.header-user-icon {
  border: 2px solid #CCC;
  border-radius: 50%; /* アイコンを円形に */
}

.user-icon {
  border: 2px solid #CCC;
  border-radius: 50%; /* アイコンを円形に */
  margin-right: 10px; /* ユーザーネームとの間に余白を追加 */
}

.post-username {
  font-size: 16px; /* ユーザーネームの文字サイズ */
  color: #007bff; /* 文字色 */
  text-decoration: none; /* 下線を削除 */
}

.post-username:hover {
  color: #c7511f;
  text-decoration: underline; /* ホバー時の効果 */
}

/* タイトルがはみ出さないようにするスタイル */
.post-title {
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 表示する行数を2行に制限 */
  -webkit-box-orient: vertical;
  overflow: hidden; /* はみ出した部分を隠す */
}

.post-title-link {
  text-decoration: none;
  color: #007bff; /* 文字色 */
}

.post-title-link:hover {
  color: #c7511f;
  text-decoration: underline; /* ホバー時の効果 */
}

/* 説明文を5行までに制限し、省略するスタイル */
.post-description {
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* 表示する行数を5行に制限 */
  -webkit-box-orient: vertical;
  overflow: hidden; /* はみ出した部分を隠す */
}

.post-link {
  display: flex;
  justify-content: flex-end;
  color: #4f96f6;
  font-size: 13px;
  text-decoration: none;
}

.post-link:hover {
  text-decoration: underline;
  color: #0056b3;
}

.post-description-link:hover {
  color: #c7511f;
  text-decoration: underline;
  cursor: pointer;
}

.post-footer {
  margin-top: auto; /* アイテムの最下部に張り付く */
}

.post-date {
  color: #777;
  font-size: 12px;
  margin: 0;
}

.no-comment {
  height: 300px;
}

.no-posts {
  font-size: 18px;
  color: #7f8c8d;
}

/* ホーム画面背景設定 */
.home-background {
  background-image: url('golfcourse.jpg'); /* 画像のパスを指定 */
  background-size: cover; /* 背景画像を画面全体に表示 */
  background-position: center; /* 背景画像を中央に配置 */
  background-repeat: no-repeat; /* 背景画像を繰り返さない */
  width: 100%; /* 幅を100%に設定 */
  height: 100vh; /* ビューポートの高さに合わせる */
  display: flex;
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
}

/* コンテンツボックスのスタイル */
.content {
  background-color: rgba(255, 255, 255, 0.8); /* 背景を半透明の白に */
  padding: 20px; /* 内側の余白を追加 */
  border-radius: 10px; /* 角を丸く */
  text-align: center; /* テキストを中央揃え */
  max-width: 400px; /* 最大幅を400pxに設定 */
  width: 100%; /* 幅を100%に設定 */
}

/* フォームフィールドのスタイル */
.field {
  margin-bottom: 15px; /* 下部の余白を小さくして間隔を狭くする */
}

.field input {
  width: 100%; /* 入力フィールドを幅いっぱいに */
  padding: 8px; /* 内側の余白を少し小さめに調整 */
  margin: 0; /* デフォルトのマージンをリセット */
}

/* チェックボックスとテキストの配置 */
.remember-me {
  display: flex;
  align-items: center; /* 縦方向に中央揃え */
  justify-content: center; /* 横方向に中央揃え */
  gap: 5px; /* チェックボックスとテキストの間隔を調整 */
  margin-top: 10px; /* 必要に応じて上部に余白を追加 */
}

.field input[type="checkbox"] {
  width: auto; /* チェックボックスの幅を自動に */
  margin-right: 5px; /* チェックボックスとテキストの間隔を調整 */
  vertical-align: middle; /* 縦方向の中央揃え */
}

/* アクションボタンスタイル */
.actions {
  margin-top: 20px; /* 上部に余白を追加 */
}

.actions .btn-primary {
  background-color: #007bff; /* ボタンの背景色 */
  border-color: #007bff; /* ボタンのボーダー色 */
  padding: 10px 20px; /* ボタン内のパディング */
  border-radius: 5px; /* 角を丸く */
  width: 100%; /* ボタンを幅いっぱいに設定 */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* ホバー時のトランジション効果 */
}

.actions .btn-primary:hover {
  background-color: #0056b3; /* ホバー時の背景色 */
  border-color: #004085; /* ホバー時のボーダー色 */
}

/* ログイン、新規登録の文字のスタイル */
.log {
  color: #34495e;
  margin-bottom: 10px; /* 下部に余白を追加 */
}

/* 新規登録リンクのスタイル */
.new-registration-link {
  margin-top: 10px; /* 上部に余白を追加 */
}

.new-registration-link .btn-secondary {
  background-color: #6c757d; /* 背景色 */
  border-color: #6c757d; /* ボーダー色 */
  padding: 10px 20px;
  border-radius: 5px; /* 角を丸く */
  width: 100%; /* 幅を100%に設定 */
  text-align: center; /* テキストを中央揃え */
  display: inline-block; /* インラインブロック要素として扱う */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* トランジション効果 */
}

.new-registration-link .btn-secondary:hover {
  background-color: #5a6268; /* ホバー時の背景色 */
  border-color: #545b62; /* ホバー時のボーダー色 */
}

/* フッター設定 */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* フッターを最前面に表示 */
  background-color: #AAA; /* フッターの背景色をシルバーに設定 */
  text-align: center; /* 全体のテキストを中央揃え */
}

.footer-navbar {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.footer p {
  color: #333; /* コピーライトの文字色を濃い灰色に設定 */
  padding-top: 10px;
  font-size: 12px; /* コピーライトのフォントサイズを小さく設定 */
}

.footer nav {
  display: flex; /* フレックスボックスを使用して横並びにする */
  justify-content: center; /* ナビゲーションリンクを横方向に中央揃え */
}

.footer nav ul {
  list-style-type: none; /* リストのデフォルトスタイルを削除 */
  padding: 0; /* パディングをリセット */
  margin: 0; /* マージンをリセット */
  display: flex; /* フレックスボックスを使用して横並びにする */
  justify-content: center; /* リンクを横方向に中央揃え */
}

.footer nav ul li {
  display: inline; /* リストアイテムをインライン表示 */
}

/* アバウトページのコンテンツ設定 */
.about-page {
  background-color: rgba(255, 255, 255, 0.8); /* 背景を半透明の白に設定 */
  padding: 30px; /* 内側の余白を追加 */
  border-radius: 10px; /* 角を丸くする */
  max-width: 900px; /* コンテンツの最大幅を900pxに設定 */
  margin: 0 auto; /* 中央に配置 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加して立体感を演出 */
}

/* アバウトページのタイトル設定 */
.about-title {
  font-size: 36px; /* タイトルの文字サイズ */
  font-weight: bold; /* 太字に設定 */
  color: #34495e; /* タイトルの文字色を濃い青に設定 */
  text-align: center; /* タイトルを中央揃え */
  margin-bottom: 20px; /* 下部に余白を追加 */
}

/* 各セクションの設定 */
.about-section {
  margin-bottom: 40px; /* 下部に余白を追加 */
}

/* セクションタイトルの設定 */
.section-title {
  font-size: 28px; /* タイトルの文字サイズを大きく設定 */
  color: #16a085; /* タイトルの文字色を緑色に設定 */
  margin-bottom: 15px; /* 下部に余白を追加 */
  border-left: 5px solid #16a085; /* 左側に緑色のボーダーを追加 */
  padding-left: 10px; /* ボーダーとタイトルの間に余白を追加 */
}

/* セクションの内容設定 */
.section-content {
  font-size: 18px; /* テキストの文字サイズを設定 */
  line-height: 1.6; /* 行の高さを設定 */
  color: #34495e; /* テキストの文字色を濃い灰色に設定 */
  text-align: justify; /* テキストを両端揃え */
}

/* 特徴リストの設定 */
.features-list {
  list-style-type: disc; /* リストマーカーを円に設定 */
  margin-top: 20px; /* 上部に余白を追加 */
  padding-left: 20px; /* 左側にパディングを追加 */
  font-size: 18px; /* テキストの文字サイズを設定 */
  color: #34495e; /* テキストの文字色を濃い灰色に設定 */
}

/* 各特徴アイテムの設定 */
.feature-item {
  margin-bottom: 10px; /* 下部に余白を追加 */
}

/* プロフィールページの全体スタイル */
.profile-page {
  background-color: rgba(255, 255, 255, 0.8); /* 背景を少し透明にして見やすく */
  padding-top: 30px; /* コンテンツの内側に余白を追加 */
  padding-bottom: 30px; /* 下部の余白 */
  border-radius: 10px; /* 角を丸く */
  margin: 0 auto; /* 中央揃え */
  margin-bottom: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加して立体感を演出 */
  display: flex; /* フレックスボックスで整列 */
  flex-direction: column; /* 縦方向に配置 */
  align-items: center; /* 全体を中央揃えにする */
  width: 100%;
  max-width: 800px;
}

/* ユーザーネームの中央揃え */
.profile-username {
  text-align: center; /* 中央揃え */
  font-size: 36px; /* フォントサイズ */
  color: #34495e; /* 文字色 */
  margin-bottom: 20px; /* 下部に余白を追加 */
}

/* プロフィール画像の中央揃え */
.profile-image-container {
  width: 300px; /* コンテナの幅を固定 */
  height: 300px; /* コンテナの高さを固定 */
  border-radius: 50%; /* 円形の外枠 */
  border: 3px solid #AAA; /* グレーの縁を追加 */
  padding: 3px; /* 画像と縁の間に余白を追加 */
  background-color: white; /* 縁と画像の間に白い背景を追加 */
  overflow: hidden; /* 画像がはみ出さないように設定 */
  display: flex; /* フレックスボックスで整列 */
  align-items: center; /* 縦方向の中央揃え */
  justify-content: center; /* 横方向の中央揃え */
}

/* プロフィール詳細テーブルの設定 */
.profile-details {
  width: 100%; /* 幅を100%に設定して中央に配置 */
  max-width: 600px; /* テーブルの最大幅を設定 */
}

/* テーブルのスタイル */
.profile-table {
  width: 100%; /* テーブル幅を全幅に */
  /*border-collapse: collapse; /* ボーダーを結合 */
}

.profile-table th,
.profile-table td {
  padding: 10px; /* セル内に余白を追加 */
  border-bottom: 2px solid #AAA; /* 下にボーダーを追加 */
  text-align: left; /* 文字を左揃え */
  word-wrap: break-word; /* テキストがセルを超えるときに折り返す */
  word-break: break-all; /* 長い単語も折り返す */
  white-space: pre-wrap; /* スペースと改行をそのまま表示 */
}

.profile-table th {
  width: 30%; /* thの幅を調整 */
  font-weight: bold; /* 太字に設定 */
  color: #34495e; /* 文字色 */
}

/* ボタンとリンクの中央揃え */
.profile-actions,
.new-post-link {
  text-align: center; /* 中央揃え */
}

/* プロフィールページの投稿リストセクション */
.profile-posts-page {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 1600px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-posts-title {
  text-align: center;
}

.pagination-empty {
  display: flex;
  justify-content: center; /* ページネーションを中央揃えにする */
  margin-top: 20px; /* ページネーションの上に余白を追加 */
}

.pagination {
  display: inline-block;
}

.pagination li {
  display: inline;
  margin: 0 3px;
}

.pagination a {
  border-radius: 5px;
  text-decoration: none;
  background-color: #007bff;
  color: white;
}

.pagination a:hover,
.pagination .active span:hover {
  background-color: #007bff;
  opacity: 0.8; /* ホバー時の透明度を設定 */
  color: white;
}

/* タイトルスタイル */
.edit-profile-title {
  text-align: center; /* タイトルを中央揃え */
  font-size: 36px; /* フォントサイズ */
  color: #34495e; /* 文字色 */
  margin-bottom: 30px; /* 下部に余白を追加 */
}

/* フォーム全体のスタイル */
.edit-profile-form {
  background-color: rgba(255, 255, 255, 0.8); /* 背景を少し透明にして見やすく */
  padding: 30px; /* 内側の余白を追加 */
  border-radius: 10px; /* 角を丸く */
  max-width: 600px; /* フォームの最大幅を600pxに設定 */
  margin: 0 auto; /* フォームを中央に配置 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加して立体感を演出 */
}

.username-field strong {
  font-size: 16px; /* フォントサイズ */
  color: #34495e; /* 文字色 */
}

.age-field strong {
  font-size: 18px; /* フォントサイズ */
  color: #34495e; /* 文字色 */
}

.bio-field, .profile-image-field {
  display: flex;
  flex-direction: column;
}

.bio-textarea {
  width: 100%; /* 横幅を100%に設定 */
  height: 150px; /* 高さを150pxに設定 */
  resize: vertical; /* ユーザーが高さを変更できるようにする（横幅は変更不可） */
}

/* ラベルのスタイル */
.form-label {
  font-size: 16px; /* ラベルのフォントサイズ */
  margin-bottom: 5px; /* ラベルの下に余白を追加 */
  color: #34495e; /* 文字色 */
}

/* テキストエリア、セレクトボックスのスタイル */
.form-select, .form-control {
  padding: 10px; /* 内側の余白を追加 */
  font-size: 14px; /* フォントサイズ */
}

/* プロフィール画像のプレビュー */
.profile-image-preview-container {
  margin-top: 10px; /* 上に余白を追加 */
  text-align: center; /* 画像を中央揃え */
}

.profile-image-preview {
  border-radius: 50%; /* 画像を丸くする */
  border: 3px solid #ccc; /* グレーの縁を追加 */
  padding: 0px; /* 画像と縁の間に余白を追加 */
  background-color: white; /* 縁と画像の間に白い背景を追加 */
}

/* 画像削除オプション */
.remove-profile-image-option {
  margin-top: 10px; /* 上に余白を追加 */
  text-align: center; /* テキストを中央揃え */
}

/* ボタンのスタイル */
.profile-actions {
  text-align: center; /* ボタンを中央揃え */
  margin-top: 20px; /* 上に余白を追加 */
}

.btn-primary, .btn-secondary {
  padding: 10px 20px; /* パディングを追加 */
  border-radius: 5px; /* 角を丸く */
  font-size: 16px; /* フォントサイズ */
  cursor: pointer; /* カーソルをポインタに */
}

.cancel-link {
  display: block;
  text-align: center;
  margin: 10px auto;
  width: fit-content;
}

/* 新規投稿ページの全体スタイル */
.new-post-page {
  background-color: rgba(255, 255, 255, 0.8); /* 背景を半透明の白に */
  padding: 30px; /* コンテンツの内側に余白を追加 */
  border-radius: 10px; /* 角を丸く */
  max-width: 600px; /* 最大幅を設定 */
  margin: 0 auto; /* 中央揃えに */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加して立体感を演出 */
}

.new-post-title {
  text-align: center; /* タイトルを中央揃え */
  font-size: 36px; /* フォントサイズ */
  color: #34495e; /* 文字色 */
  margin-bottom: 30px; /* 下部に余白を追加 */
}

.title-field, .title-description, .title-image {
  display: flex;
  flex-direction: column;
}

.description-textarea {
  width: 100%; /* 横幅を100%に設定 */
  height: 150px; /* 高さを150pxに設定 */
  resize: vertical; /* ユーザーが高さを変更できるようにする（横幅は変更不可） */
}

.mt-3 {
  display: flex;
  justify-content: center; /* コンテンツを中央揃え */
}

/* 投稿詳細ページの全体スタイル */
.post-detail {
  background-color: rgba(255, 255, 255, 0.8); /* 半透明の白背景 */
  padding: 30px; /* 内側の余白 */
  border-radius: 10px; /* 角を丸くする */
  width: 100%;
  max-width: 800px; /* 最大幅を800pxに設定 */
  margin: 0 auto; /* 中央揃え */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ボックスシャドウを追加して立体感を演出 */
}

/* 投稿タイトルのスタイル */
.post-detail-title {
  word-wrap: break-word; /* 長い単語を折り返し */
  overflow-wrap: break-word; /* 長い単語を折り返し */
  white-space: pre-wrap; /* テキストの折り返し */
  word-break: break-all; /* 単語を途中で折り返す */
  font-size: 23px;
  color: #34495e; /* タイトル文字色 */
  margin-bottom: 10px;
}

/* 投稿説明文のスタイル */
.post-detail-description {
  word-wrap: break-word; /* 長い単語を折り返し */
  overflow-wrap: break-word; /* 長い単語を折り返し */
  white-space: pre-wrap; /* テキストの折り返し */
  word-break: break-all; /* 単語を途中で折り返す */
  font-size: 17px;
  color: #34495e; /* 説明文の文字色 */
  margin-bottom: 10px;
  white-space: pre-wrap; /* 自動改行 */
}

.post-detail-username {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
  color: #007bff;
}

.post-detail-username:hover {
  color: #c7511f;
  text-decoration: underline;
}

/* 投稿画像のスタイル */
.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

/* 画像がない場合のメッセージ */
.no-image {
  font-size: 14px;
  color: #999;
  text-align: center;
  margin: 20px 0;
}

/* 投稿日時のスタイル */
.post-detail-date {
  font-size: 15px;
  color: #777;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* コンテナのスタイル */
.edit-post-page {
  background-color: rgba(255, 255, 255, 0.8); /* 半透明の白背景 */
  padding: 30px; /* 内側の余白 */
  border-radius: 10px; /* 角を丸くする */
  width: 100%;
  max-width: 800px; /* 最大幅を800pxに設定 */
  margin: 0 auto; /* 中央揃え */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ボックスシャドウを追加して立体感を演出 */
}

/* ページタイトル */
.edit-post-page-title {
  text-align: center; /* タイトルを中央揃え */
  font-size: 36px; /* フォントサイズ */
  color: #34495e; /* 文字色 */
  margin-bottom: 30px; /* 下部に余白を追加 */
}

.edit-post-textarea {
  width: 100%; /* 横幅を100%に設定 */
  height: 200px; /* 高さを150pxに設定 */
  resize: vertical; /* ユーザーが高さを変更できるようにする（横幅は変更不可） */
}

.edit-post-actions {
  text-align: center;
}

/* ラベルのスタイル */
.form-label {
  font-weight: 600; /* ラベルのフォントウェイトを強調 */
  margin-bottom: 5px;
  display: block;
  color: #34495e; /* 文字色 */
}

/* テキスト入力やテキストエリア */
.form-control {
  width: 100%;
  padding: 12px;
  border-radius: 5px; /* 少し丸みを帯びた入力ボックス */
  box-sizing: border-box;
  color: #333;
}

/* 画像ファイルの入力 */
.form-control-file {
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* 現在の画像表示 */
.current-image {
  margin-bottom: 15px;
}

.current-post-image {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 6px; /* より丸みを帯びた画像 */
}

/* 画像削除オプション */
.remove-image-option {
  margin-bottom: 25px; /* 余白を少し広めに */
}

/* エラー説明 */
#error_explanation {
  background-color: #ffe5e5; /* 柔らかい赤色の背景 */
  color: #d9534f; /* エラーメッセージに赤色を適用 */
  border: 1px solid #f5c6cb;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#error_explanation h2 {
  margin-top: 0;
  font-size: 18px;
}

#error_explanation ul li {
  text-align: center;
  list-style: none;
}

.search-form-with-icon {
  display: flex;
  align-items: center; /* 縦中央揃え */
  justify-content: center;
  position: relative;
  margin-bottom: 20px; /* フォームと投稿リストの間にスペースを追加 */
}

.search-input-container {
  display: flex;
  align-items: center; /* 縦中央揃え */
  justify-content: center; /* 必要に応じて水平方向の中央揃えも追加 */
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px; /* 左側の角を丸く */
  outline: none;
  flex: 1;
}

.search-button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 0 20px 20px 0; /* 右側の角を丸く */
  cursor: pointer;
  display: flex;
  align-items: center; /* アイコンをボタンの中央に配置 */
  justify-content: center;
}

.search-button i {
  font-size: 16px; /* アイコンのサイズ */
}

.search-button:hover {
  opacity: 0.8; /* ホバー時の透明度を設定 */
  background-color: #007bff;
  border-color: #004085;
}


.comments-section {
  border-top: 2px dotted #333;
  border-bottom: 2px dotted #333;
  padding-top: 20px;
  padding-bottom: 20px;
}

.comments-section h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 5px;
}

.comment-container {
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.comment-header {
  display: flex;
  justify-content: space-between; /* 左右に配置 */
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
}

.comment-user-icon {
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #CCC;
}

.comment-username {
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
  color: #2c3e50;
}

.comment-username:hover {
  text-decoration: underline;
}

.comment-date {
  font-size: 12px;
  color: #777;
}

.right-section {
  position: relative;
}

/* ドロップダウンメニューのスタイル */
.dropdown {
  position: relative;
  display: inline-block;
  color: #34495e;
}

.dropdown-toggle {
  cursor: pointer;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 8px 16px;
  border-radius: 4px;
  min-width: 250px; /* 最小幅を設定 */
  text-align: center;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  color: #4f96f6;
  text-decoration: none;
  padding: 8px 16px;
  cursor: pointer;
  display: block; /* インラインではなくブロック要素として扱う */
  border-radius: 5px; /* リンクの角を丸く */
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  color: #c7511f;
  background-color: #CCC;
  text-decoration: underline;
}

.fa-ellipsis {
  font-size: 23px;
}

.comment-content {
  margin-top: 5px;
}


/* コメントフォーム全体のコンテナ */
.comment-form-container {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

/* ユーザーアイコンのスタイル */
.post-user-icon {
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid #CCC;
}

/* コメントフォームのラッパー */
.comment-form-wrapper {
  flex: 1; /* 残りのスペースを占める */
}

/* コメントフォームのスタイル */
.comment-form {
  display: flex;
  flex-direction: column;
}

/* コメントの入力欄のスタイル */
.comment-form .form-control {
  width: 100%;
  margin-bottom: 10px;
  resize: vertical;
}

/* コメント投稿ボタンのスタイル */
.comment-submit-btn {
  align-self: flex-end; /* 左下に配置 */
}

.post-detail-header {
  display: flex;
  justify-content: space-between; /* 左右に配置 */
  align-items: center;
  margin-bottom: 10px;
}

/* ユーザー一覧の全体スタイル */
.users-page {
  background-color: rgba(255, 255, 255, 0.9); /* 背景を少し透明に */
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* タイトルのスタイル */
.users-title {
  text-align: center;
  font-size: 36px;
  color: #34495e;
  margin-bottom: 30px;
}

/* ユーザーリストのスタイル */
.users-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 250px;
}

/* 各ユーザーアイテムのスタイル */
.user-item {
  display: flex;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  align-items: center;
  gap: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ユーザーアイコンのコンテナ */
.user-icon-container {
  flex-shrink: 0; /* アイコンのサイズに合わせて収縮 */
}

.user-info-container {
  flex: 1;
}

.user-meta {
  /**/
}

.user-name {
  font-size: 20px;
  font-weight: bold;
  color: #007bff; /* 例: ユーザー名のリンク色をパープルに変更 */
  text-decoration: none;
}

.user-name:hover {
  color: #c7511f;
  text-decoration: underline;
}

.user-details {
  margin-top: 5px; /* ユーザー名と性別・年齢の間に少しスペースを追加 */
  font-size: 16px;
  color: #333;
  padding-top: 7px;
  border-top: 1px dotted #AAA;
  padding-bottom: 7px;
  border-bottom: 1px dotted #AAA;
}

.user-gender,
.user-age {
  margin-right: 15px; /* 性別と年齢の間に少しスペースを追加 */
}

.user-bio {
  font-size: 14px;
  color: #666;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px dotted #AAA;
}

.post-comments {
  margin: 0;
  font-size: 14px;
  color: #777;
}

.post-comments a {
  text-decoration: none;
  color: #007bff;
}

.post-comments a:hover {
  text-decoration: underline;
  color: #c7511f;
}

/* ドロップダウンメニューのスタイル */
.header-dropdown {
  margin-left: 15px;
  position: relative;
  display: inline-block;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu a {
  color: #007bff;
  text-decoration: none;
  display: block;
  padding: 8px 16px;
}

.dropdown-menu a:hover {
  color: #c7511f;
  text-decoration: underline;
}

.new-communities-page {
  background-color: rgba(255, 255, 255, 0.8); /* 背景を少し透明にして見やすく */
  padding: 30px; /* 内側の余白を追加 */
  border-radius: 10px; /* 角を丸く */
  max-width: 600px; /* フォームの最大幅を600pxに設定 */
  margin: 0 auto; /* フォームを中央に配置 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加して立体感を演出 */
}

.community-textarea {
  height: 150px;
  resize: vertical;
}

.community-form-title {
  text-align: center; /* タイトルを中央揃え */
  font-size: 36px; /* フォントサイズ */
  color: #34495e; /* 文字色 */
  margin-bottom: 30px; /* 下部に余白を追加 */
}





/*コミュニティ一覧ページ*/
.communities-page {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.communities-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color: #34495e;
}

.new_community_link {
  text-align: center;
  margin-bottom: 10px;
}

.communities-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.community-item {
  display: flex;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  align-items: center;
  gap: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.community-icon {
  border: 2px solid #ccc;
  border-radius: 5px;
  /*border-radius: 50%;*/
}

.community-info-container {
  flex: 1;
}

.community-meta {
  margin-bottom: 7px;
}

.community-name {
  font-size: 20px;
  font-weight: bold;
  color: #007bff; /* 例: ユーザー名のリンク色をパープルに変更 */
  text-decoration: none;
}

.community-name:hover {
  color: #c7511f;
  text-decoration: underline;
}

.community-creator {
  font-size: 14px;
  color: #777;
  margin-right: 10px;
}

.community-members {
  font-size: 14px;
  color: #777;
  margin-right: 10px;
}

.community-category {
  font-size: 14px;
  color: #777;
  margin-right: 10px;
}

.community-created-at {
  font-size: 14px;
  color: #777;
  margin-right: 10px;
}

.community-creator-link {
  color: #007bff;
  text-decoration: none;
}

.community-creator-link:hover {
  color: #c7511f;
  text-decoration: underline;
}

.community-description {
  font-size: 14px;
  color: #666;
  padding-top: 7px;
  padding-bottom: 7px;
  border-top: 1px dotted #AAA;
  border-bottom: 1px dotted #AAA;
}

.no-community {
  text-align: center;
  height: 400px;
}



/*コミュニティ詳細画面*/
.community-detail {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 900px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.community-image-title-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.community-details-section {
  color: #34495e;
  flex-grow: 1;
}

.community-title h1 {
  margin-bottom: 10px;
}

.community-info p {
  margin: 5px 0;
}

.community-admin {
  color: #007bff;
  text-decoration: none;
}

.community-admin:hover {
  color: #c7511f;
  text-decoration: underline;
}

.community-detail-description {
  font-weight: bold;
  font-size: 17px;
  color: #34495e;
  padding-top: 7px;
  padding-bottom: 7px;
  border-top: 2px dotted #333;
  border-bottom: 2px dotted #333;
}

.community-detail-posts {
  
}

.community-detail-posts h2 {
  margin-top: 10px;
  text-align: center;
}

.no-post {
  text-align: center;
  font-size: 18px;
  color: #7f8c8d;
}



/*コミュニティ編集画面*/
.community-edit-page {
  background-color: rgba(255, 255, 255, 0.8); /* 背景を少し透明にして見やすく */
  padding: 30px; /* 内側の余白を追加 */
  border-radius: 10px; /* 角を丸く */
  max-width: 600px; /* フォームの最大幅を600pxに設定 */
  margin: 0 auto; /* フォームを中央に配置 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加して立体感を演出 */
}

.community-edit-title {
  text-align: center;
  font-size: 36px;
  color: #34495e;
  margin-bottom: 30px;
}

.community-image-preview-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.community-image-preview {
  border: 2px solid #ccc;
  border-radius: 10px;
}